/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

/* Main Content Styling */
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%; /* Full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.front-content p{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    background-color: #e2e7e6;
    padding: 20px;
    border-radius: 8px;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin: 10px 0;
}

.box-content {
    margin-left: 16px;
    margin-right: 16px;
}

.box-content h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.box-content p {
    color: #956203;
    font-size: 14px;
    transition: color 0.3s, text-decoration 0.3s;
}

.box-content p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #d17a00;
}

/* Responsive Design */
@media (max-width: 768px) {
    .box {
        width: calc(50% - 20px); /* Two boxes per row */
    }
}

@media (max-width: 480px) {
    .box {
        width: 100%; /* Single box per row */
    }
}
