.container {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../assets/images/image.png') no-repeat center center fixed; 
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.auth-container {
    text-align: center;
    color: black;
    padding: 25px;
    width: 100vw;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6); 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000; 
}

.auth-container h1 {
   font-size: 34px;
    font-weight: bold;
    color: #f0c36d;
    margin-bottom: 10px;
}

.auth-container h2 {
  font-size: 28px;
  margin-top: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #f8f9fa;
}

.auth-box {
  border-radius: 12px;
  justify-content: center;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  background-color: antiquewhite;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(165, 123, 82, 0.1);
  color: black;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}

input::placeholder {
  color: #cba891;
  opacity: 0.7;
}

input:focus {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #f0c36d;
}

button {
  background: linear-gradient(135deg, #ff9f43, #fc4a1a);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
  width: 100%;
}

button:hover {
  background: linear-gradient(135deg, #fc4a1a, #ff9f43);
  transform: scale(1.05);
}

.auth-link {
  background: transparent;
  color: black;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}

.auth-link a {
  color: #ff9f43;
  font-weight: bold;
  text-decoration: none;
}

.auth-link a:hover {
  color: #fc4a1a;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-box {
      padding: 20px;
      max-width: 90%;
  }

  .auth-container h1 {
      font-size: 28px;
  }

  .auth-container h2 {
      font-size: 22px;
  }
}
