.navbar{
    height: 20vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar h2{
    color: #f0c36d;
    flex-shrink: 0; 
    margin-left: 150px;
}

.nav-description{
    color: #f0c36d;
    display: flex;
    align-items: center;
    gap: 45px;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 400px;
}

.nav-description :hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    width: 60px;  
    flex-direction: column;
    margin-top: 55px;
    margin-left: auto;
}

.profile i {
    font-size: 2rem; 
}

.account{
    font-size: 1rem;
    margin-top: 8px;
}

.profile:hover{
    cursor: pointer;
    text-decoration: none;

}

.drop-down{
    display: none; /*hides the dropdown initially*/
    position: absolute; /*brings the dropdown in the down position*/
}

.drop-down a{
    display: block;
    padding: 10px;
    color: #956203;;
    text-decoration: none;
}

.profile:hover .drop-down{
    display: block; /*make dropdown visible*/
}

.drop-down a:hover{
    color:rgb(46, 42, 42);
}
